.App {
  font-family: sans-serif;
  text-align: center;
}

.lists {
  display: flex;
}

.list {
  flex: 1;
  border-right: 1px solid #000;
}

.list:last-child {
  border: 0;
}

.procon-lists {
  display: flex;
}

.procon-list {
  flex: 1;
  border-right: 1px solid #000;
}

.procon-list:last-child {
  border: 0;
}

.procon-list__title {
  border-bottom: 1px solid #000;
}